.hello {    
    background-image:url("../images/gigu.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 300px;
    position: relative;
}
.hello .text {
    bottom: 0;
    color: brown;
    font-family: Verdana !important;
    font-size: 40pt !important;
    font-weight: bold;
    position: absolute;
    text-shadow: 0 0 5px #000;
}